body {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    background-color: #e0b1cb;
    color: #231942;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    background-color: #5e548e;
    padding: 1rem;
    text-align: center;
    justify-content: space-between;
}

#logo_header p {
    font-family: "Anton SC", sans-serif;
    font-size: 20px;
    z-index: 999;
}

.logo {
    display: flex;
}

.logo img {
    padding: 10px;
}






footer {
    background-color: #5e548e;
    color: #e0b1cb;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    border-top: 2px solid #231942;
}
